html {
  font-size: 10px;
}
@media screen and (min-width: 700px) and (max-width: 970px) {
  html {
    font-size: 9px;
  }
}
@media screen and (max-width: 699px) {
  html {
    font-size: 8px;
  }
}
body {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 1.7rem;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 22px;
}
p {
  margin-top: 0;
  margin-bottom: 15px;
  line-height: 1.6;
}
ul {
  line-height: 1.6;
}
.main-container {
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 1400px) {
  .main-container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
}
.title {
  margin-top: 0;
  margin-bottom: 0;
}
.title_s {
  font-size: 1.5rem;
}
.title_m {
  font-size: 2rem;
}
.title_l {
  font-size: 2.6rem;
}
.title_xl {
  font-size: 2.8rem;
}
.link {
  text-decoration: none;
  display: block;
}
.header {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__img {
  display: block;
  max-width: 100%;
}
.header__logo {
  display: block;
}
@media screen and (min-width: 1100px) {
  .header__form {
    width: 36%;
    margin-left: 5rem;
  }
  .header__schedule {
    margin-left: 3rem;
  }
  .header__contact {
    margin-left: 5rem;
    max-width: 265px;
  }
}
@media screen and (min-width: 800px) and (max-width: 1099px) {
  .header__container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .header__form {
    width: 100%;
    margin-top: 3rem;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}
@media screen and (max-width: 799px) {
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .header__logo {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    width: 22rem;
  }
  .header__schedule {
    margin-top: 2rem;
  }
  .header__form {
    width: 100%;
    margin-top: 2.5rem;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .header__contact {
    margin-top: 2rem;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
}
.schedule__item {
  background-image: url(../img/icon_time.svg);
}
@media screen and (min-width: 980px) {
  .schedule__item {
    margin-bottom: 1rem;
  }
  .schedule__item:last-of-type {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 799px) {
  .schedule__item {
    display: inline-block;
  }
}
.schedule__item {
  padding-left: 2.6rem;
}
.schedule__value {
  font-size: 1.5rem;
}
.form__label {
  display: block;
  position: relative;
}
.form__hint {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  display: block;
}
.form__container {
  position: relative;
}
.form__input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1rem 1.5rem 1rem 4.5rem;
  font-size: 1.5rem;
  width: 100%;
}
.form__button {
  background-color: #384997;
  width: 100%;
  color: #fff;
  padding: 10px 20px;
  border: none;
}
.form__name-icon:after {
  position: absolute;
  content: "";
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  left: 1.5rem;
  width: 2.2rem;
  height: 2.2rem;
  background-image: url(../img/icon_person.svg);
  background-repeat: no-repeat;
  background-size: 2.2rem;
}
.form__data-icon:after {
  position: absolute;
  content: "";
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  left: 1.5rem;
  width: 2.2rem;
  height: 2.2rem;
  background-image: url(../img/icon_date.svg);
  background-repeat: no-repeat;
  background-size: 2.2rem;
}
.search__input {
  padding-right: 5rem;
}
.search__icon:after {
  position: absolute;
  content: "";
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  left: 1.5rem;
  width: 2.2rem;
  height: 2.2rem;
  background-image: url(../img/icon_search.svg);
  background-repeat: no-repeat;
  background-size: 2.2rem;
}
.search__button {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  background: none;
  border: none;
  background-image: url(../img/icon_keyboard.svg);
  background-repeat: no-repeat;
  width: 12%;
  height: 100%;
  background-position-y: center;
  background-position-x: center;
  background-size: 2.2rem;
}
.contact__item {
  color: #000;
  font-size: 1.5rem;
  padding-left: 2.6rem;
}
.contact__phone {
  font-weight: bold;
  font-size: 2rem;
  background-image: url(../img/icon_phone.svg);
}
.contact__location {
  background-image: url(../img/icon_location.svg);
}
.contact__mail {
  background-image: url(../img/icon_email.svg);
}
@media screen and (mim-width: 800px) {
  .contact__item {
    margin-top: 5px;
  }
  .contact__item:first-of-type {
    margin-top: 0;
  }
}
@media screen and (max-width: 799px) {
  .contact__item {
    display: inline-block;
    margin-left: 3rem;
  }
  .contact__item:first-of-type {
    margin-left: 0;
  }
  .contact__location {
    display: none;
  }
}
.menu {
  background-color: #384997;
  position: relative;
}
.menu__list {
  margin-top: 0;
  margin-bottom: 0;
}
.menu__button {
  background: none;
  border: none;
  position: relative;
  cursor: pointer;
  color: #fff;
  font-size: 2.3rem;
  width: 100%;
}
.menu__item {
  color: #fff;
}
.menu.menu_active .menu__list {
  display: block;
}
@media screen and (min-width: 700px) {
  .menu__button {
    display: none;
  }
  .menu__list-item {
    display: inline-block;
  }
  .menu__list-item:hover {
    background-color: #4758a5;
  }
  .menu__item {
    padding: 10px 15px;
  }
}
@media screen and (max-width: 699px) {
  .menu__list {
    position: absolute;
    display: none;
    z-index: 1000;
    width: 100%;
    padding: 0;
  }
  .menu__list-item {
    display: block;
    background-color: #384997;
    text-align: center;
    border: 1px solid #4758a5;
  }
  .menu__list-item:first-of-type {
    border-top: 0;
  }
  .menu__item {
    padding: 3rem 0;
    display: block;
  }
}
@media screen and (min-width: 1100px) {
  .page__conainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .page__sidebar {
    padding-top: 12px;
    width: 100%;
    margin-left: 8%;
  }
}
@media screen and (max-width: 1099px) {
  .page__sidebar {
    margin-top: 35px;
  }
}
.page__main {
  margin-top: 6rem;
}
.page__content {
  margin-top: 2.5rem;
}
.page__last-news {
  margin-top: 4.5rem;
}
.sidebar__section {
  margin-top: 5.2rem;
}
.sidebar__section:first-of-type {
  margin-top: 0;
}
.sidebar__form {
  padding: 48px 25px 28px 25px;
  background-color: #f5f9fa;
}
.sidebar__label {
  margin-top: 20px;
}
.sidebar__label:first-of-type {
  margin-top: 0;
}
.sidebar__button {
  margin-top: 2.5rem;
}
.section__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.section__following {
  font-size: 1.5rem;
  color: #4758a5;
}
.section__content {
  margin-top: 3rem;
}
.section__document {
  margin-top: 2rem;
}
.section__document:first-of-type {
  margin-top: 0;
}
.icon {
  background-size: 2rem;
  background-repeat: no-repeat;
}
.icon_pdf {
  background-size: 4.4rem;
  background-repeat: no-repeat;
  background-position-y: center;
}
.document__item {
  color: #4758a5;
  padding: 1.2rem 0 1.2rem 5.2rem;
  font-size: 1.7rem;
  background-image: url(../img/pdf.svg);
}
@media screen and (min-width: 980px) {
  .last-news__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .last-news__item {
    margin-left: 5%;
    width: 30%;
  }
  .last-news__item:nth-child(3n+1) {
    margin-left: 0;
  }
}
@media screen and (max-width: 979px) {
  .last-news__item {
    margin-top: 1.5rem;
  }
  .last-news__item:first-of-type {
    margin-top: 0;
  }
}
.news__content {
  width: 77%;
}
@media screen and (max-width: 979px) {
  .news__data {
    margin-right: 0.4rem;
    width: 46px;
  }
}
.news__content {
  padding-top: 1rem;
  vertical-align: top;
  display: inline-block;
  margin-left: 1rem;
}
.news__data {
  vertical-align: top;
  text-align: center;
  display: inline-block;
}
.news__day {
  font-size: 4.5rem;
  color: #384997;
  font-weight: 700;
}
.news__month {
  font-size: 1.7rem;
  display: block;
}
.news__link {
  color: #000;
}
.footer {
  background-color: #384997;
  color: #fff;
  font-size: 1.3rem;
  margin-top: 3rem;
}
.footer__container {
  position: relative;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}
.footer__item {
  margin-top: 0.3rem;
}
.footer__item:first-child {
  margin-top: 0;
}
.footer__name {
  font-weight: bold;
}
.footer__value {
  margin-left: 1rem;
}
@media screen and (min-width: 980px) {
  .footer__columns {
    margin-top: 1rem;
  }
  .footer__column {
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
  }
  .footer__column:first-of-type {
    margin-left: 0;
  }
  .footer__copyright {
    position: absolute;
    right: 0;
    bottom: 0.6rem;
  }
}
@media screen and (max-width: 979px) {
  .footer__columns {
    display: none;
  }
  .foooter__title {
    display: none;
  }
  .footer__copyright {
    display: block;
    text-align: center;
    font-size: 1.7rem;
  }
}
