@media screen and (min-width: 971px) {
  html {
    font-size: 10px;
  }
}
@media screen and (min-width: 700px) and (max-width: 970px) {
  html {
    font-size: 9px;
  }
}
@media screen and (max-width: 699px) {
  html {
    font-size: 8px;
  }
}
body {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 1.7rem;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 22px;
}
p {
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.6;
}
ul {
  line-height: 1.6;
}
.main-container {
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 1400px) {
  .main-container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
}
.title {
  margin-top: 0;
  margin-bottom: 0;
}
.title_s {
  font-size: 1.5rem;
}
.title_m {
  font-size: 2rem;
}
.title_l {
  font-size: 2.6rem;
}
.title_xl {
  font-size: 2.8rem;
}
.link {
  text-decoration: none;
  display: block;
}
.info {
  padding-left: 2.5rem;
  position: relative;
}
.info__icon {
  top: 0;
  left: 0;
}
.info__value {
  color: #000;
}
.info__value-phone {
  font-size: 2rem;
  font-weight: bold;
}
.header {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__img {
  display: block;
  max-width: 100%;
}
.header__logo {
  width: 22rem;
  display: block;
}
.header__info {
  font-size: 1.5rem;
}
@media screen and (min-width: 1100px) {
  .header__search {
    width: 43%;
    margin-left: 4.7rem;
    margin-right: 4.7rem;
  }
  .header__logo {
    margin-right: 3rem;
  }
  .header__info {
    max-width: 19%;
  }
  .header__contact {
    max-width: 2.6rem;
  }
}
@media screen and (min-width: 800px) and (max-width: 1099px) {
  .header__container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .header__search {
    width: 100%;
    margin-top: 2rem;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}
@media screen and (max-width: 799px) {
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .header__info {
    margin-top: 1.5rem;
  }
  .header__search {
    width: 100%;
    margin-top: 2rem;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}
@media screen and (min-width: 980px) {
  .schedule__item {
    margin-bottom: 1rem;
  }
  .schedule__item:last-of-type {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 799px) {
  .schedule__item {
    display: inline-block;
  }
}
.form__label {
  display: block;
  position: relative;
}
.form__hint {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  display: block;
}
.form__container {
  position: relative;
}
.form__input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1rem 1.5rem 1rem 4.5rem;
  font-size: 1.5rem;
  width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  border: 1px solid #b9b9bb;
  color: #b9b9bb;
}
.form__button {
  background-color: #384997;
  width: 100%;
  color: #fff;
  padding: 10px 20px;
  border: none;
}
.form__icon {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  left: 1.5rem;
}
.search__input {
  padding-right: 5rem;
}
.search__icon:after {
  position: absolute;
  content: "";
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  left: 1.5rem;
  width: 2.2rem;
  height: 2.2rem;
  background-image: url(../img/icon_search.svg);
  background-repeat: no-repeat;
  background-size: 2.2rem;
}
.search__button {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  background: none;
  border: none;
  background-image: url(../img/icon_keyboard.svg);
  background-repeat: no-repeat;
  width: 12%;
  height: 100%;
  text-indent: -9999px;
  background-position-y: center;
  background-position-x: center;
  background-size: 2.2rem;
}
@media screen and (min-width: 800px) {
  .contact__item {
    margin-top: 0.3rem;
  }
  .contact__item:first-of-type {
    margin-top: 0;
  }
}
@media screen and (max-width: 799px) {
  .contact {
    display: none;
  }
}
.menu__list {
  margin-top: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}
.menu {
  background-color: #384997;
}
.menu__list-item:hover {
  background-color: #4758a5;
}
.menu__item {
  padding: 10px 15px;
  color: #fff;
}
@media screen and (min-width: 730px) {
  .menu__button {
    display: none;
  }
  .menu__list-item_active {
    position: relative;
    background-color: #4758a5;
  }
  .menu__list-item_active:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    border-top: 2px solid #fff;
    border-radius: 2px;
    bottom: -2px;
  }
}
@media screen and (max-width: 729px) {
  .menu {
    position: relative;
    background-color: #fff;
  }
  .menu__button {
    border: none;
    font-size: 2rem;
    cursor: pointer;
    position: relative;
    width: 28px;
    height: 22px;
    background-color: #fff;
    left: 84%;
  }
  .menu__button-el {
    background-color: #384997;
    position: absolute;
    height: 4px;
    width: 100%;
    border-radius: 4px;
    left: 0;
    -webkit-transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  }
  .menu__button-el:nth-child(1) {
    top: 2px;
  }
  .menu__button-el:nth-child(2),
  .menu__burger-element:nth-child(3) {
    top: 11px;
  }
  .menu__button-el:nth-child(4) {
    top: 20px;
  }
  .menu__button-el_active.menu__button-el:nth-child(1) {
    opacity: 0;
  }
  .menu__button-el_active.menu__button-el:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .menu__button-el_active.menu__button-el:nth-child(3) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .menu__button-el_active.menu__button-el:nth-child(4) {
    opacity: 0;
  }
  .menu__list {
    display: none;
  }
  .menu__list.menu__list_active {
    background: #384997;
    display: block;
    text-align: center;
    z-index: 9999;
    margin-top: 10px;
  }
}
@media screen and (min-width: 1100px) {
  .page__main {
    margin-top: 3.5rem;
  }
  .page__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .page__content {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .page__last-news {
    margin-top: 3rem;
  }
  .page__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .page__group {
    margin-left: 2%;
    width: 32%;
  }
  .page__group:nth-child(3n+1) {
    margin-left: 0;
  }
  .page__group:nth-child(n+4) {
    margin-top: 5.4rem;
  }
  .page__group-info {
    margin-left: 4%;
    width: 35%;
  }
  .page__group-info:nth-child(2n+1) {
    margin-left: 0;
  }
  .page__group-info:nth-child(n+3) {
    margin-top: 5.4rem;
  }
  .page__grid_nowrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .page__map-yandex {
    display: block;
    max-width: 100%;
  }
  .page__map {
    width: 55%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}
@media screen and (min-width: 730px) and (max-width: 1099px) {
  .page__main {
    margin-top: 3.5rem;
  }
  .page__container {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .page__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .page__group {
    margin-left: 5%;
    width: 39%;
  }
  .page__last-news {
    margin-top: 3.5rem;
  }
  .page__group:nth-child(2n+1) {
    margin-left: 0;
  }
  .page__group:nth-child(n+3) {
    margin-top: 5.4rem;
  }
  .page__group-info {
    margin-top: 2rem;
  }
  .page__group-info:nth-child(1) {
    margin-top: 0;
  }
  .page__grid_nowrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .page__map-yandex {
    display: block;
    max-width: 100%;
  }
  .page__map {
    width: 55%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}
@media screen and (max-width: 729px) {
  .page__last-news {
    margin-top: 4rem;
  }
  .page__group {
    margin-top: 2.4rem;
  }
  .page__group:nth-child(1) {
    margin-top: 0;
  }
  .page__group-info {
    margin-top: 2rem;
  }
  .page__map {
    margin-top: 3rem;
  }
  .page__map-yandex {
    display: block;
    max-width: 100%;
  }
}
.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
}
.page__info {
  margin-top: 2.5rem;
}
.page__news {
  margin-top: 4rem;
}
.page__news:first-of-type {
  margin-top: 0;
}
.page__contacts {
  padding-left: 0.5%;
  padding-top: 2.5rem;
}
.sidebar__section {
  margin-top: 5.2rem;
}
.sidebar__section:first-of-type {
  margin-top: 0;
}
.sidebar__form {
  padding: 48px 25px 28px 25px;
  background-color: #f5f9fa;
}
.sidebar__label {
  margin-top: 2rem;
}
.sidebar__label:first-of-type {
  margin-top: 0;
}
.sidebar__button {
  margin-top: 2.5rem;
}
@media screen and (min-width: 1100px) {
  .sidebar {
    padding-top: 0.6rem;
    width: 420px;
    margin-left: 8%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}
@media screen and (max-width: 1099px) {
  .sidebar {
    margin-top: 35px;
  }
}
.section__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.section__following {
  font-size: 1.5rem;
  color: #4758a5;
}
.section__item {
  margin-top: 2rem;
}
.section__item:first-child {
  margin-top: 0;
}
@media screen and (min-width: 730px) {
  .section__content {
    margin-top: 2.7rem;
  }
}
@media screen and (max-width: 729px) {
  .section__content {
    margin-top: 1.3rem;
  }
}
.iconbox {
  position: absolute;
  width: 2.2rem;
  height: 2.2rem;
}
.icon_pdf {
  height: 4.6rem;
}
.document {
  color: #4758a5;
  font-size: 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.document__text {
  -ms-flex-item-align: center;
  align-self: center;
  margin-left: 1rem;
}
.document__icon {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.news__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
}
.news__content {
  padding-top: 0.8rem;
  margin-left: 1rem;
}
.news__data {
  text-align: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 0.4rem;
  min-width: 5.2rem;
}
.news__day {
  font-size: 4.5rem;
  color: #384997;
  font-weight: 700;
}
.news__month {
  margin-top: 0.1rem;
  font-size: 1.7rem;
  display: block;
}
.news__year {
  font-size: 1.5rem;
}
.breadcrumb {
  background-color: #f5f9fa;
}
.breadcrumb__list {
  margin-top: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.breadcrumb__list-item {
  list-style-type: none;
  color: #4758a5;
  font-size: 1.5rem;
  margin-right: 1rem;
  position: relative;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
.breadcrumb__list-item:last-of-type {
  color: #000;
  font-weight: bold;
  margin-right: 0;
}
.breadcrumb__link {
  padding-right: 2rem;
  color: inherit;
  font-weight: inherit;
  position: relative;
}
.breadcrumb__link:after {
  content: ">";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) scaleY(1.4);
  transform: translateY(-50%) scaleY(1.4);
  color: #000;
}
.object {
  position: relative;
  color: #000;
  font-size: 2rem;
  font-weight: bold;
}
.object__picture:before {
  content: "";
  position: relative;
  display: block;
  padding-left: 100%;
  padding-top: 66%;
  background-color: #4758a5;
  border-radius: 0.9rem;
}
.object__img {
  display: block;
  max-width: 100%;
  border-radius: 0.9rem;
  position: absolute;
  top: 0;
  left: 0;
}
.object__address {
  display: block;
  margin-top: 1rem;
  padding-left: 0.5rem;
}
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4.8rem;
  font-size: 1.8rem;
}
.pagination__item {
  padding: .6rem 1rem;
  color: #4758a5;
}
.pagination__item_active {
  background-color: #384997;
  color: #fff;
}
.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.footer {
  background-color: #384997;
  color: #fff;
  font-size: 1.3rem;
  margin-top: 8rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.footer__item {
  margin-top: 0.3rem;
}
.footer__item:first-child {
  margin-top: 0;
}
.footer__name {
  font-weight: bold;
}
.footer__value {
  margin-left: 1rem;
}
@media screen and (min-width: 860px) {
  .footer {
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
  }
  .footer__columns {
    margin-top: 1rem;
  }
  .footer__column {
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
  }
  .footer__column:first-of-type {
    margin-left: 0;
  }
  .footer__copyright {
    display: block;
    text-align: right;
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 861px) {
  .footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .footer__columns {
    display: none;
  }
  .foooter__title {
    display: none;
  }
  .footer__copyright {
    display: block;
    text-align: center;
    font-size: 1.5rem;
  }
}
