.contact__item{
	font-size: 1.5rem;
}
.contact__item{
	font-size: 1.5rem;
}
.contact__phone{
	font-size: 2rem;
	font-weight: bold;

}
.contact__phone-icon{
	background-image: url(../img/icon_phone.svg);
	background-repeat: no-repeat;
}
.contact__location-icon{
	background-image: url(../img/icon_location.svg);
	background-repeat: no-repeat;
}
.contact__mail-icon{
	background-image: url(../img/icon_email.svg);
	background-repeat: no-repeat;
}