.form__label{
	display: block;
	position: relative;
}
.form__hint{
	margin-bottom: 1rem;
	font-size: 1.5rem;
	font-weight: bold;
	display: block;
}

.form__container{
	position: relative;
}

.form__input{
	box-sizing: border-box;
	padding: 10px 15px 10px 45px;
	font-size: 1.5rem;
	width: 100%;
}
.form__button{
	background-color: @maincolor;
	width: 100%;
	color: @whitecolor;
	padding: 10px 20px;
	border: none;
}

.form__search-icon{
	background-image: url(../img/icon_search.svg);
	background-repeat: no-repeat;
}