.header{
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.header__container{
	display: flex;
	align-items: center;
}
.header__img{
	display: block;
	max-width: 100%;
}
.header__logo{
	display: block;
}

@media screen and (min-width: 1100px){
	.header__form{
		width: 36%;
		margin-left: 5rem;
}
	.header__schedule{
		margin-left: 3rem;
}
	.header__contact{
		margin-left: 5rem;
		max-width: 265px;
}
}
@media screen and (min-width: 800px) and (max-width: 1099px){
	.header__container{
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.header__form{
		width: 100%;
		margin-top: 3rem;
		order: 1;
	}
}

@media screen and (max-width: 799px){
	.header__container{
		flex-direction: column;
	}

	.header__logo{
		order: -1;
		width: 22rem;
	}
	.header__schedule{
		margin-top: 2rem;
	}
	.header__form{
		width: 100%;
		margin-top: 2.5rem;
		order: 1;
	}
	.header__contact{
		margin-top: 2rem;
		order: -1;
	}
}

