.menu__list{
  	margin-top: 0;
 	margin-bottom: 0;
    display: flex;
    list-style-type: none;
}
.menu{
    background-color: @maincolor;
}

.menu__list-item:hover{
	background-color: @huemaincolor;
	}
.menu__item{
	padding: 10px 15px;
    color: @whitecolor;

}

@media screen and (min-width: 730px){
    .burger{
        display: none;
    }
    .menu__list-item_active{
          position: relative;
          background-color: @huemaincolor;
    }
    .menu__list-item_active:after{
          content:"";
          position: absolute;
          height: 2px;
          width: 100%;
          border-top: 2px solid #fff;
          border-radius: 2px;
          bottom: -2px; 
    }
}
@media screen and (max-width: 729px){
    .menu{
        background-color: #fff;
        position: relative;
}
    .burger{
        position: absolute;
        border: none;
        font-size: 2rem;
        cursor: pointer;
        width: 28px;
        height: 22px;
        background-color: #fff;
        right: 20px;
        top: 30px;
    }
    .burger__el{
        background-color: @maincolor;
        position: absolute;
        height: 4px;
        width: 100%;
        border-radius: 4px;
        left: 0;
        transition: transform .25s ease-in-out, opacity .25s ease-in-out;
    }
    .burger__el:nth-child(1){
        top: 2px;
    }
    .burger__el:nth-child(2),.menu__burger-element:nth-child(3){
        top: 11px;
    }
    .burger__el:nth-child(4){
        top: 20px;
    }
    .burger__el_active.burger__el:nth-child(1){
        opacity: 0;
    }
    .burger__el_active.burger__el:nth-child(2){
        transform: rotate(-45deg);
    }
    .burger__el_active.burger__el:nth-child(3){
        transform: rotate(45deg);
    }
    .burger__el_active.burger__el:nth-child(4){
        opacity: 0;
    }
    .menu__list{
        display: none;
    }
    .menu__list.menu__list_active{
        background: @maincolor;
        display: block;
        text-align: center;
        z-index: 9999;
        margin-top: 10px;
        position: absolute;
        width: 100%;
        top: -138px;
        box-sizing: border-box;
    }
}

