.news__content{
		width: 77%;
	}
@media screen and (max-width: 979px){
	.news__data{
		margin-right: 0.4rem;
		width: 46px;
}
}

.news__content{
	padding-top: 1rem;
	vertical-align: top;
	display: inline-block;
	margin-left: 1rem;
}	
.news__data{
	vertical-align: top;
	text-align: center;
	display: inline-block;
}

.news__day{
	font-size: 4.5rem;
    color: @maincolor;
    font-weight: 700;
}

.news__month{
	font-size: 1.7rem;
	display: block;
}

.news__link{
	color: #000;
}