@media screen and (min-width: 980px){
	.page__conainer{
	display: flex;
}
	.page__sidebar{
	padding-top: 12px;
	width: 30%;
	margin-left: 8%;	 
}
	.page__info{
	width: 62%;
	}
}

@media screen and (max-width: 979px){
	.page__sidebar{
		margin-top: 20px;
}
}
.page__main{
	margin-top: 6rem;
}
.page__content{
	margin-top: 2.5rem;
}
