.search__input{
 	padding-right: 5rem;
}

.search__icon:after{
	position: absolute;
	content: "";
	transform: translateY(-50%);
	top: 50%;
	left: 1.5rem;
	width: 2.2rem;
	height: 2.2rem;
	background-image: url(../img/icon_search.svg);
	background-repeat: no-repeat;
	background-size: 2.2rem;
}
.search__button{
	position: absolute;
	cursor: pointer;
	top: 0;
	right: 0;
	background: none;
	border: none;
	background-image: url(../img/icon_keyboard.svg);
	background-repeat: no-repeat;
	width: 12%;
	height: 100%;
	text-indent: -9999px;
	background-position-y: center;
	background-position-x: center;
	background-size: 2.2rem;
}

