.search__input{
 	padding-right: 50px;
}

.search__button-icon{
	position: absolute;
	top: 9px;
	right: 15px;
	background: none;
	border: none;
	background-image: url(../img/icon_keyboard.svg);
	background-repeat: no-repeat;
	width: 22px;
	height: 22px;
}